*{
  margin: 0;
  padding: 0;
}
.landing{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

}
.main-image{
  width: 50vw;
  height: 60vh;
  object-fit: cover;
}
h1{
  font-weight: 1000;
  font-size: 30px;
  position: relative;
  font-family: Poppins;
  font-style: normal;
}
.play{
  color: white;
  background-color: black;
  border: 2px solid black;
  border-radius: 8px;
  width: 12vw;
  height: 4vh;
  position: absolute;
  cursor: pointer;
}
.game-page{
  margin: 5% 5%;
}
.top{
  display: flex;
  justify-content: space-between;
}
.score-table{
  display: flex;
  flex-direction: column;
}
.score{
  display: flex;
  justify-content: center;
  font-size: 35px;
}
.box{
  
}
.number-box{
  display: flex;
  gap: 5px;
}
.numbers h3{
   position: absolute;
   right: 5%;
}
.bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom img{
  margin: 2%;
}
.bottom h3{
  display: flex;
  
}
.reset{
  border: 2px solid black;
  color: black;
  padding: 6px 4px;
  border-radius: 5px;
  margin: 5%;
  width: 30vw;
  background-color: green;
  opacity: .7;
  color: white;
}
.reset:hover{
  background-color: black;
  color: white;
}
.rules{
  border: 2px solid black;
  padding: 4px 2px;
  border-radius: 5px;
  margin: 3% 5%;
  width: 30vw;
  background-color: red;
  opacity: .8;
  color: white;
}
.rules:hover{
  background-color: black;
  color: white;
}
p{
  color: red;
  position: absolute;
  right: 5% ;
  top: 3%;
}
.rules-book{
  display: flex;
  background-color: rgb(204, 229, 255);
  flex-direction: column;
  gap: 7px;
}
.rules-book h2{
   margin: 0 auto;
   color: green;
}
.rules-list{
  font-size: 16px;
  list-style:none;
}
.rules-list li{
   font-size: 18px;
   color: brown;
}